= form_for @node do |f|
  - if @node.errors.any?
    #error_explanation
      %h2= "#{pluralize(@node.errors.count, "error")} prohibited this node from being saved:"
      %ul
        - @node.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :node
    = f.text_field :node
  .field
    = f.label :arrived_on
    = f.text_field :arrived_on
  .field
    = f.label :left_on
    = f.text_field :left_on
  .field
    = f.label :text
    = f.text_field :text
  .field
    = f.label :type
    = f.text_field :type
  .field
    = f.label :value
    = f.text_field :value
  .actions
    = f.submit 'Save'
