%p#notice= notice

%p
  %b Run:
  = @record.run
%p
  %b Phone:
  = @record.phone
%p
  %b Text:
  = @record.text
%p
  %b Flow:
  = @record.flow
%p
  %b Relayer:
  = @record.relayer
%p
  %b Channel:
  = @record.channel
%p
  %b Values:
  = @record.values
%p
  %b Steps:
  = @record.steps
%p
  %b Step:
  = @record.step
%p
  %b Primary:
  = @record.primary
%p
  %b Ids:
  = @record.ids

= link_to 'Edit', edit_record_path(@record)
\|
= link_to 'Back', records_path
