= form_for @response do |f|
  - if @response.errors.any?
    #error_explanation
      %h2= "#{pluralize(@response.errors.count, "error")} prohibited this response from being saved:"
      %ul
        - @response.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :category
    = f.text_field :category
  .field
    = f.label :node
    = f.text_field :node
  .field
    = f.label :time
    = f.text_field :time
  .field
    = f.label :text
    = f.text_field :text
  .field
    = f.label :rule_value
    = f.text_field :rule_value
  .field
    = f.label :value
    = f.text_field :value
  .field
    = f.label :label
    = f.text_field :label
  .field
    = f.label :phone
    = f.text_field :phone
  .actions
    = f.submit 'Save'
