%h1 Listing completions

%table
  %thead
    %tr
      %th Run
      %th Flow
      %th Phone
      %th Text
      %th Values
      %th Steps
      %th Step
      %th Primary
      %th Ids
      %th
      %th
      %th
      
  %tbody
    - @completions.each do |completion|
      %tr
        %td= completion.run
        %td= completion.flow
        %td= completion.phone
        %td= completion.text
        %td= completion.values
        %td= completion.steps
        %td= completion.step
        %td= completion.primary
        %td= completion.ids
        %td= link_to 'Show', completion
        %td= link_to 'Edit', edit_completion_path(completion)
        %td= link_to 'Destroy', completion, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Completion', new_completion_path
