%p#notice= notice

%p
  %b Run:
  = @completion.run
%p
  %b Flow:
  = @completion.flow
%p
  %b Phone:
  = @completion.phone
%p
  %b Values:
  = @completion.values
%p
  %b Steps:
  = @completion.steps
%p
  %b Step:
  = @completion.step
%p
  %b Primary:
  = @completion.primary
%p
  %b Ids:
  = @completion.ids

= link_to 'Edit', edit_completion_path(@completion)
\|
= link_to 'Back', completions_path
