!!!
%html{'ng-app' => 'myApp'}
  %head
    %title Ask Liberia
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container.fluid
      .row
        .col-xs-3
          %span
            = nav_link 'diagrams', root_url 
          &nbsp;&nbsp;
          %span
            = nav_link 'rumors', rumors_path 

        .col-xs-8

        .col-xs-1
          %span
            - unless current_user
              = link_to 'login', new_user_session_path
            - else
              = link_to "log out", destroy_user_session_path, method: :delete
    .row
      .col-xs-3
        &nbsp;&nbsp;
        %span
          = nav_link 'diagrams', root_url 
        &nbsp;&nbsp;
        %span
          = nav_link 'rumors', rumors_path 

      .col-xs-8

      .col-xs-1
        %span
          - unless current_user
            = link_to 'login', new_user_session_path
          - else
            = link_to "log out", destroy_user_session_path, method: :delete

    .container-fluid
      = yield

    %footer.footer
      .footer_container
        %p.text-muted
          Designed by
          %a{'href' => 'http://www.ilabliberia.org'} iLab Liberia

