!!!
%html{'ng-app' => 'myApp'}
  %head
    %title Ask Liberia
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %div
      - unless current_user
        = link_to 'login', new_user_session_path
      - else
        = link_to "log out", destroy_user_session_path, method: :delete
    = yield

    %footer.footer
      .footer_container
        %p.text-muted
          Designed by
          %a{'href' => 'http://www.ilabliberia.org'} iLab Liberia


    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60081327-1', 'auto');
      ga('send', 'pageview');